fastapi[all]
uvicorn
sqlalchemy
cryptography
scikit-learn
neurokit2
shap
mlflow
transformers
spacy
vaderSentiment
sentence-transformers
langchain
langchain-community
faiss-cpu
librosa
openai-whisper
numpy
pandas
pydantic
